<td>{{task.id}}</td>
<td><input [ngClass]="{'empty': !task.name}" [(ngModel)]="task.name" [readonly]="isReadOnly"></td>
<td><input [ngClass]="{'empty': !task.description}" [(ngModel)]="task.description" [readonly]="isReadOnly"></td>
<td><input
  type="date"
  [ngModel]="task.deadline | date:'yyyy-MM-dd'"
  [readonly]="isReadOnly"
  (ngModelChange)="task.deadline = $event"
></td>
<td>
  <p [ngClass]="{'label': !isHidden}">{{task.category.name}}</p>
  <select name="category" [(ngModel)]="task.category" [disabled]="isReadOnly" [hidden]="isHidden">
    <option
      *ngFor="let category of categories"
      [ngValue]="category"
    >{{category.name}}</option>
  </select>
</td>
<td>
  <button (click)="deleteTask(task.id)">Delete</button>
  <button (click)="editTask(task.id)">{{editAction}}</button>
</td>
